<div class="padded proposal--full">
  <h1 class="red"><%= resource.title %></h1>

  <div class="proposal__entry">
    <%= simple_format resource.body %>
  </div>
</div>

<nav class="proposal__actions">
  <%= link_to "Edit", edit_admin_proposal_path(resource) %>
  <%= link_to "All proposals", admin_proposals_path %>
</nav>