.proposal {
  border-top: 1px solid #ccc;
  margin: 2em 0 0 0;
  padding: 2em 1em 0;
}

.proposal__title {
  color: $hipster-red;
  line-height: 1.3;
  margin: 0 0 .3em;
}

.proposal__title a {
  color: $hipster-red;
  text-decoration: none;
  border-bottom: 2px solid $hipster-red;
}

.proposal--voted .proposal__title a {
  color: #A7A7A7;
  border-bottom-color: #A7A7A7;
}

.proposal__votes {
  color: #a7a7a7;
}

.proposal__entry {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.proposal__entry p {
  line-height: 1.4;
  margin-bottom: 1.5em;
}