%section {
  margin-top:em(61px);
  border-bottom:3px solid #6856b5;
  padding-bottom:50px;

  @media screen and (max-width: 600px) {
    padding-bottom:35px;
  }
}

%section__aside-left {
  width:30%;

  @media screen and (max-width: 600px) {
    float:none;
    margin-bottom:30px;
  }
}
