@font-face {
    font-family: 'nanamimedium';
    src: url('fonts/nanami-med-webfont.eot');
    src: url('fonts/nanami-med-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nanami-med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proximanovareg';
    src: url('fonts/proximanova-reg-webfont.eot');
    src: url('fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

%secondary-heading {
  text-transform:uppercase;
  font-family:'nanamimedium', sans-serif;
  font-size:em(32pt);

  @media screen and (max-width: 750px) {
    font-size:em(24pt);
  }
}

.section-heading {
  @extend %secondary-heading;
  color:#6856b5;
  margin:0 0 em(46px, 32pt);
}

.body-copy {
  color:#53585e;
  font-family:'proximanovareg', sans-serif;
  font-size:em(21pt);
  margin:em(10px, 21pt) 0 em(20px, 21pt);

  @media screen and (max-width: 750px) {
    font-size:em(18pt);
    margin-top:em(5px, 18pt);
  }
}
