<%= form_for vote, url: proposal_votes_path(proposal), html: { class: "padded" } do |f| %>

  <%= render "form_errors", obj: vote %>

  <%
  text =
    if !voting_open?
      "Voting is not yet open"
    elsif proposal.closed?
      "Proposal has been withdrawn"
    elsif voting_open? && !@has_voted
      "Vote for this proposal"
    else
      "You have already voted"
    end

  options = { class: "button" }
  options[:disabled] = true if proposal.closed? || @has_voted || !voting_open?
  %>

  <%= f.submit text, options %>

  <% unless current_user %>
    <p class="sub-text">You must sign in via Twitter in order to vote for this proposal. We only use your Twitter account to verify your identity.</p>
  <% else %>
    <p class="sub-text">You have <strong><%= pluralize current_user.votes_remaining, "vote" %></strong> remaining.</p>
  <% end %>
<% end %>