<footer class="site-footer container">
  <p><%= link_to "Your votes", votes_proposals_path, class: "red" if current_user %></p>
  <p>This app uses Twitter to authenticate you. We will never, ever tweet on your behalf though.</p>
  <p>We're trying to make our speaker selection process fair and equal to give you, the community, talks that you would like to hear.</p>
</footer>